<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>School Of Net - Vue.js - Campeonato Brasileiro</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div id="app" class="container">
            <div class="row">
                <h3>Campeonato Brasileiro - Série A - 2020</h3>
            </div>
            <div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontos</th>
                        <th>GM</th>
                        <th>GS</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="time in times">
                        <td>     
                            <img :src="time.escudo" alt="">
                            {{time.nome}}
                        </td>
                        <td>{{time.pontos}}</td>
                        <td>{{time.gm}}</td>
                        <td>{{time.gs}}</td>
                        <td></td>
                    </tr>
                </tbody>

            </table>

            <input type="text" :id="gols+'id'" v-model="gols"> {{gols}}
            <button class="btn btn-primary" @click="showAlert">Fim de Jogo</button>
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> 
        <script>
            class Time{
                constructor(nome, escudo){
                    this.nome = nome;
                    this.escudo = escudo;

                    this.pontos = 0;
                    this.gm = 0;
                    this.gs = 0;
                }
            }

            new Vue({
                el:"#app",
                data: {
                    gols: 2,
                    times: [
                        new Time('América-MG', 'assets/america_mg_60x60.png'),
                        new Time('Atlético-MG', 'assets/atletico_mg_60x60.png'),
                        new Time('Atlético-PR', 'assets/atletico-pr_60x60.png'),
                        new Time('Bahia', 'assets/bahia_60x60.png'),
                        new Time('Botafogo', 'assets/botafogo_60x60.png'),
                        new Time('Ceará', 'assets/ceara_60x60.png'),
                        new Time('Chapecoense', 'assets/chapecoense_60x60.png'),
                        new Time('Corinthians', 'assets/corinthians_60x60.png'),
                        new Time('Cruzeiro', 'assets/cruzeiro_60x60.png'),
                        new Time('Flamengo', 'assets/flamengo_60x60.png'),
                        new Time('Fluminense', 'assets/fluminense_60x60.png'),
                        new Time('Grêmio', 'assets/gremio_60x60.png'),
                        new Time('Internacional', 'assets/internacional_60x60.png'),
                        new Time('Palmeiras', 'assets/palmeiras_60x60.png'),
                        new Time('Paraná', 'assets/parana_60x60.png'),
                        new Time('Santos', 'assets/santos_60x60.png'),
                        new Time('São Paulo', 'assets/sao_paulo_60x60.png'),
                        new Time('Sport', 'assets/sport_60x60.png'),
                        new Time('Vasco da Gama', 'assets/vasco_60x60.png'),
                        new Time('Vitória', 'assets/vitoria_60x60.png')
                        ]
                },
                methods: {
                    showAlert(){
                        alert("Fim de jogo!")
                    },
                    pegarValor($event){
                        console.log($event)
                    }
                }
            })
        </script>
    </body>
</html>